<%= form_for @user do |f| %>
  <div>
        <%= f.label :cuit, "CUIT" %>
        <%= f.text_field :cuit, placeholder: "CUIT" , class: "form-control" %>
        <%= f.label :razonSocial, "Razon social" %>
        <%= f.text_field :razonSocial, placeholder: "RazonSocial", :value => @razonSocial , class: "form-control" %>
        <%= f.label :direccion, "Direccion" %>
        <%= f.text_field :direccion, placeholder: "Direccion" , class: "form-control" %>
        <%= f.label :codigoPostal, "Codigo Postal" %>
        <%= f.text_field :codigoPostal, placeholder: "Codigo Postal", :value => @codigoPostal, class: "form-control" %>
        <%= f.label :pais_id, "Pais" %>
        <%= f.select :pais_id, options_from_collection_for_select(Pais.all, "id", "nombre",1), {}, {:multiple => false, :class => "form-control"} %>
        <%= f.label :provincia_id, "Provincia" %>
        <%= f.select :provincia_id, options_from_collection_for_select(Provincia.all, "id", "nombre", Provincia.find(1)), {}, {:multiple => false, :class => "form-control"} %>
  </div>
<% end %>


