<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="field">
    <% @profiles.each do |perfil| %>
    <%= f.radio_button :profile_id, perfil.id %>
    <%= f.label :profile_id, perfil.nombre %>
    <%= f.select(:profile_id, Profile.find(:all).collect {|u| [u.nombre, u.id]}, :prompt => 'Seleccione el tipo de usuario') %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :razonSocial, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :razonSocial, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :direccion, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :direccion, class: "form-control" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :localidad_id %><br>
    <%= f.text_field :localidad_id %>
  </div>


  <div class="form-group">
    <%= f.label :cuig, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cuig, class: "form-control" %>
    </div>

      <div class="form-group">
    <%= f.label :renspa, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :renspa, class: "form-control" %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :cuit, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cuit, class: "form-control" %>
    </div>
  </div>

      <div class="form-group">
    <%= f.label :telefono, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :telefono, class: "form-control" %>
    </div>
  </div>
    
  
      <div class="form-group">
    <%= f.label :codigoPostal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :codigoPostal, class: "form-control" %>
    </div>
  </div>
 
    <div class="field">
    <%= f.label :provincia_id %><br>
    <%= f.text_field :provincia_id %>
    <p><%= Provincia.find_by(id: @user.provincia_id).nombre %></p>
  </div>
    <div class="field">
    <%= f.label :pais_id %><br>
    <%= f.text_field :pais_id %>
  </div>
    <div class="field">
    <%= f.label :encargado %><br>
    <%= f.text_field :encargado %>
  </div>
    <div class="field">
    <%= f.label :celular %><br>
    <%= f.text_field :celular %>
  </div>
    <div class="field">
    <%= f.label :numeroCv %><br>
    <%= f.text_field :numeroCv %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>