<%= form_for @user do |f| %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading usuarios">
      <h3>Nuevo Cliente</h3>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2> El formulario posee errores</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6"></div>
      </div>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>



      <%= f.submit 'Crear Usuario', :class => "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>

</div>
<% end %>
