<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading usuarios"><h2>Usuario:</h2></div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Email:</dt>
            <dd><%= @user.email %></dd>
            <dt>Cuit:</dt>
            <dd><%= @user.cuit %></dd>

              <dt>Razon Social:</dt>
            <dd><%= @user.razonSocial %></dd>
            <dt>Pais:</dt>
            <dd><%= Pais.find(@user.pais_id).nombre %></dd>
            <dt>Provincia:</dt>
            <dd><%= Provincia.find(@user.provincia_id).nombre %></dd>
            <dt>Ciudad:</dt>
            <dd><%= @user.localidad_id %></dd>
            <dt>Codigo Postal:</dt>
            <dd><%= @user.codigoPostal %></dd>
            <dt>Descuento:</dt>
            <dd><%= number_to_percentage(@user.descuento , precision: 0) %></dd>
            <% @user.user_sucursals.each do |sucursal| %>
              <dt>Sucursal:</dt>
              <dd><%= sucursal.nombre %></dd>
              <dt>Encargado:</dt>
              <dd><%= sucursal.encargado %></dd>
              <dt>Telefono:</dt>
              <dd><%= sucursal.telefono %></dd>
              <dt>Direccion:</dt>
              <dd><%= sucursal.direccion %></dd>
            <% end %>
            <% if current_user.profile_id == 3 %>
              <dt>Distribuidor:</dt>
              <dd><%= @user.distribuidor.id %>
            <% else %>
              <dt>Clientes:</dt>
            <% end %>
            <% @user.clientes.each do |cliente| %>
              <dd><%= link_to cliente do %>
                  <%= cliente.razonSocial %>
                <% end %>
              </dd>
            <% end %>


          </dl>
        </div>
      </div>
    </div>
      <%= link_to users_path, class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Usuarios
      <% end %>
      <% if current_user.profile_id == 1 %>
        <%= link_to user_path(@user), method: :delete, data: { confirm: 'Esta seguro que desea eliminar este usuario?' }, class: 'btn btn-danger pull-right' do %>
          <span class="glyphicon glyphicon-trash"></span>
          Eliminar
        <% end %>
        <%= link_to edit_user_path(@user),  class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        <% end %>
      <% end %>
  </div>
</div>