

<div id="user-profile">
	<div class="user-profile-container">
		<div class="user-profile-container-color">
		<%= image_tag "settings.jpg" %>
		</div>
		<div class="user-profile-container-titulo">
				<%= t"user_profile_settings_titulo" %>
		</div>
		<div class="user-profile-container-descripcion">
			<%= t"user_profile_settings_descripcion" %>

		</div>
	</div>
	<div class="user-profile-container">
		<div class="user-profile-container-color">
		<%= image_tag "orders.jpg" %>
		</div>
		<div class="user-profile-container-titulo">
				<%= t"user_profile_orders_titulo" %>
		</div>
		<div class="user-profile-container-descripcion">
			<%= t"user_profile_orders_descripcion" %>

		</div>
	</div>
</div>