<div class="product-container">
  <h3><%= product.name %></h3>
<img class="producto-imagen" src="https://s-media-cache-ak0.pinimg.com/736x/05/fc/20/05fc20ea30330f152c88503210ca6bd1--ocean-waves-in-color.jp"/>


<div class="product-interact">
<% if product.user_products.where(user_id: current_user.id).any? %>
<i class="product-like fa fa-heart" aria-hidden="true"></i>
<% else %>
<i class="product-like fa fa-heart-o" aria-hidden="true"></i>
<% end %>
<i class="producto-cart fa fa-cart-plus" aria-hidden="true"></i>
<span class="product-price">$ <%= product.price %></span>
</div>
<span hidden="true" class="producto-id" value="<%= product.id %>"><%= product.id %></span>

</div>
<script>



function set_heart_color(elem){
	var producto = $(elem).parent().parent().find('.producto-id').text();
	if($(elem).is('.fa-heart-o')){
		$(elem).removeClass('fa-heart-o').addClass('fa-heart');
		save_association_product_user(producto);
	}else{
		$(elem).removeClass('fa-heart').addClass('fa-heart-o');
		destroy_association_product_user(producto);
	}
}

function add_to_cart(elem){
    var producto = $(elem).parent().parent().find('.producto-id').text();
    save_association_user_cart_product(producto);
}


	function save_association_product_user(producto){
	 $.ajax({
        url:'/ecommerce/product_like',
        type:'POST',
        data:{
            myparam1: <%= current_user.id %>,
            myparam2: producto,
        },
        success:function(data){
            console.log("success");
        },
        error:function(data){
            debugger;
        }
    });
	}


    function save_association_user_cart_product(producto){
     $.ajax({
        url:'/ecommerce/product_cart',
        type:'POST',
        data:{
            myparam1: <%= current_user.id %>,
            myparam2: producto,
        },
        success:function(data){
            console.log("success");
        },
        error:function(data){
            debugger;
        }
    });
    }

	function destroy_association_product_user(producto){
	 $.ajax({
        url:'/ecommerce/destroy_product_like',
        type:'POST',
        data:{
            myparam1: <%= current_user.id %>,
            myparam2: producto,
        },
        success:function(data){
            console.log("success");
        },
        error:function(data){
            debugger;
        }
    });
	}


</script>