  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="navbar">
<p><%= t('hello') %></p>
<h1 class="home-title">WÖTT</h1>
<div class="navbar-text pull-right">
	<i class="fa fa-cart-arrow-down"></i>
	<% if user_signed_in? %>
  	Logged in as <strong><%= current_user.email %></strong>.
  	<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
  <%= link_to "", new_user_session_path, :class => 'fa fa-user-circle'  %>
	<% end %>

	<p>ES</p>
</div>
</div>

