  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">WÖTT</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline ml-auto">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
    </div>
  </form>
    <ul class="navbar-nav">
            <li class="nav-item">
           <i class="nav-link fa fa-cart-plus" aria-hidden="true"></i>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fa fa-user-circle-o" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <p><%= current_user.email %></p>
        <% if 1 == 2 %>
          <%= link_to (t'logout'), destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
        <% else %>
          <%= link_to (t'login'), log_in_path, :class => 'dropdown-item'  %>
        <% end %>
        <%= link_to (t'saved'), log_in_path, :class => 'dropdown-item'  %>
        </div>
      </li>

    </ul>

  </div>
</nav>