<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <% @vuelos['fares'].each do |vuelo| %>
	<p>Desde <%= vuelo['outbound']['departureAirport']['name'] %></p>
	<p>Hacia <%= vuelo['outbound']['arrivalAirport']['name'] %></p>
	<p>Fecha Salida <%= vuelo['outbound']['departureDate'] %></p>
	<p>Fecha Llegada <%= vuelo['outbound']['arrivalDate'] %></p>
	<p style="color: red">Precio <%= vuelo['outbound']['price']['value'] %><%= vuelo['outbound']['price']['currencySymbol'] %></p>
<% end %>
  </body>
</html>
